## EDA : Restaurant Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:\\Users\\farha\\Downloads\\Restaurant_data.csv",encoding='utf-8')
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [4]:
df.describe().round()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0
mean,9051128.0,18.0,64.0,26.0,1199.0,2.0,3.0,157.0
std,8791521.0,57.0,41.0,11.0,16121.0,1.0,2.0,430.0
min,53.0,1.0,-158.0,-41.0,0.0,1.0,0.0,0.0
25%,301962.0,1.0,77.0,28.0,250.0,1.0,2.0,5.0
50%,6004089.0,1.0,77.0,29.0,400.0,2.0,3.0,31.0
75%,18352292.0,1.0,77.0,29.0,700.0,2.0,4.0,131.0
max,18500652.0,216.0,175.0,56.0,800000.0,4.0,5.0,10934.0

In [5]:
# Dropping Unwanted columns
df.drop(columns=['Country Code', 'Address', 'Locality', 'Locality Verbose'], inplace=True)

In [6]:
# Renaming columns to snake cashing
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

# renaming columns 
df = df.rename(columns={
    'average_cost_for_two': 'avg_cost_for_two',
    'has_table_booking': 'table_booking',
    'has_online_delivery': 'online_delivery',
    'is_delivering_now': 'delivering_now',
    'switch_to_order_menu': 'order_menu',
    'aggregate_rating': 'rating'
})
df.head(2)

,restaurant_id,restaurant_name,city,longitude,latitude,cuisines,avg_cost_for_two,currency,table_booking,online_delivery,delivering_now,order_menu,price_range,rating,rating_color,rating_text,votes
0,6317637,Le Petit Souffle,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [7]:
df.isnull().sum()

restaurant_id       0
restaurant_name     0
city                0
longitude           0
latitude            0
cuisines            9
avg_cost_for_two    0
currency            0
table_booking       0
online_delivery     0
delivering_now      0
order_menu          0
price_range         0
rating              0
rating_color        0
rating_text         0
votes               0
dtype: int64

In [8]:
# Filling 9 missing cuisine with Other
df["cuisines"] = df["cuisines"].fillna('Other')

In [9]:
# Fix known encoding issues first
df['city'] = df['city'].replace({
    'S��o Paulo':'São Paulo',
    'Bras�_lia':'Brasília',
    '��stanbul':'İstanbul'
})

df['restaurant_name'] = df['restaurant_name'].replace({
    'A���k Kahve': 'Açık Kahve',
    'Ceviz A��ac۱':'Ceviz Ağacı'
})

In [10]:
from ftfy import fix_text

# Fix garbled text in all string/object columns
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].apply(fix_text)

# Ab restaurant_name aur saare string columns sahi ho gaye
print(df['restaurant_name'].head())

0          Le Petit Souffle
1          Izakaya Kikufuji
2    Heat - Edsa Shangri-La
3                      Ooma
4               Sambo Kojin
Name: restaurant_name, dtype: object

In [11]:
# City to Country mapping dictionary
city_country_map = {
    'Makati City':'Philippines', 'Mandaluyong City':'Philippines', 'Pasay City':'Philippines',
    'Pasig City':'Philippines', 'Quezon City':'Philippines', 'San Juan City':'Philippines',
    'Santa Rosa':'Philippines', 'Tagaytay City':'Philippines', 'Taguig City':'Philippines',
    'Brasília':'Brazil', 'São Paulo':'Brazil', 'Rio de Janeiro':'Brazil',
    'Albany':'USA', 'Armidale':'Australia', 'Athens':'Greece', 'Augusta':'USA',
    'Balingup':'Australia', 'Beechworth':'Australia', 'Boise':'USA',
    'Cedar Rapids/Iowa City':'USA', 'Chatham-Kent':'Canada', 'Clatskanie':'USA',
    'Cochrane':'Canada', 'Columbus':'USA', 'Consort':'Canada', 'Dalton':'USA',
    'Davenport':'USA', 'Des Moines':'USA', 'Dicky Beach':'Australia', 'Dubuque':'USA',
    'East Ballina':'Australia', 'Fernley':'USA', 'Flaxton':'Australia', 'Forrest':'Australia',
    'Gainesville':'USA', 'Hepburn Springs':'Australia', 'Huskisson':'Australia', 
    'Inverloch':'Australia', 'Lakes Entrance':'Australia', 'Lakeview':'USA', 'Lincoln':'USA',
    'Lorn':'Australia', 'Macedon':'Australia', 'Macon':'USA', 'Mayfield':'Australia',
    'Mc Millan':'Australia', 'Middleton Beach':'Australia', 'Miller':'USA', 'Monroe':'USA',
    'Montville':'Australia', 'Ojo Caliente':'USA', 'Orlando':'USA', 'Palm Cove':'Australia',
    'Paynesville':'Australia', 'Penola':'Australia', 'Pensacola':'USA', 'Phillip Island':'Australia',
    'Pocatello':'USA', 'Potrero':'USA', 'Princeton':'USA', 'Rest of Hawaii':'USA', 'Savannah':'USA',
    'Singapore':'Singapore', 'Sioux City':'USA', 'Tampa Bay':'USA', 'Tanunda':'Australia',
    'Trentham East':'Australia', 'Valdosta':'USA', 'Vernonia':'USA', 'Victor Harbor':'Australia',
    'Vineland Station':'Canada', 'Waterloo':'Canada', 'Weirton':'USA', 'Winchester Bay':'USA',
    'Yorkton':'Canada', 'Abu Dhabi':'UAE', 'Dubai':'UAE', 'Sharjah':'UAE',
    'Agra':'India', 'Ahmedabad':'India', 'Allahabad':'India', 'Amritsar':'India', 'Aurangabad':'India',
    'Bangalore':'India', 'Bhopal':'India', 'Bhubaneshwar':'India', 'Chandigarh':'India', 'Chennai':'India',
    'Coimbatore':'India', 'Dehradun':'India', 'Faridabad':'India', 'Ghaziabad':'India', 'Goa':'India',
    'Gurgaon':'India', 'Guwahati':'India', 'Hyderabad':'India', 'Indore':'India', 'Jaipur':'India',
    'Kanpur':'India', 'Kochi':'India', 'Kolkata':'India', 'Lucknow':'India', 'Ludhiana':'India',
    'Mangalore':'India', 'Mohali':'India', 'Mumbai':'India', 'Mysore':'India', 'Nagpur':'India',
    'Nashik':'India', 'New Delhi':'India', 'Noida':'India', 'Panchkula':'India', 'Patna':'India',
    'Puducherry':'India', 'Pune':'India', 'Ranchi':'India', 'Secunderabad':'India', 'Surat':'India',
    'Vadodara':'India', 'Varanasi':'India', 'Vizag':'India', 'Bandung':'Indonesia', 'Bogor':'Indonesia',
    'Jakarta':'Indonesia', 'Tangerang':'Indonesia', 'Auckland':'New Zealand', 'Wellington City':'New Zealand',
    'Birmingham':'UK', 'Edinburgh':'UK', 'London':'UK', 'Manchester':'UK', 'Doha':'Qatar',
    'Cape Town':'South Africa', 'Inner City':'South Africa', 'Johannesburg':'South Africa',
    'Pretoria':'South Africa', 'Randburg':'South Africa', 'Sandton':'South Africa', 'Colombo':'Sri Lanka',
    'Ankara':'Turkey', 'İstanbul':'Turkey'
}

# Add country column to dataframe
df['country'] = df['city'].map(city_country_map)
df["country"].unique()

array(['Philippines', 'Brazil', 'USA', 'Australia', 'Greece', 'Canada',
       'Singapore', 'UAE', 'India', 'Indonesia', 'New Zealand', 'UK',
       'Qatar', 'South Africa', 'Sri Lanka', 'Turkey'], dtype=object)

In [12]:
# Adding descriptive price category
price_map = {
    1:'Cheap',
    2:'Moderate',
    3:'Expensive',
    4:'Luxury'}

df["price_category"] = df["price_range"].map(price_map)
df["price_category"].unique()

array(['Expensive', 'Luxury', 'Moderate', 'Cheap'], dtype=object)

In [13]:
# Fixing Currancy columns
df["currency"] = df["currency"].replace({'Pounds(��)': 'Pounds (£)'})
df["currency"].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds (£)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [14]:
# creating new col as num of cuisines
df['num_cuisines'] = df['cuisines'].apply(lambda x: len(str(x).split(',')))
df["num_cuisines"].unique()

array([3, 1, 4, 2, 5, 6, 7, 8])

In [15]:
# Creating avg cost per head column
df["avg_cost"] = df["avg_cost_for_two"]/2

In [16]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'city', 'longitude', 'latitude',
       'cuisines', 'avg_cost_for_two', 'currency', 'table_booking',
       'online_delivery', 'delivering_now', 'order_menu', 'price_range',
       'rating', 'rating_color', 'rating_text', 'votes', 'country',
       'price_category', 'num_cuisines', 'avg_cost'],
      dtype='object')

In [17]:
df.describe().round()

,restaurant_id,longitude,latitude,avg_cost_for_two,price_range,rating,votes,num_cuisines,avg_cost
count,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0,9551.0
mean,9051128.0,64.0,26.0,1199.0,2.0,3.0,157.0,2.0,600.0
std,8791521.0,41.0,11.0,16121.0,1.0,2.0,430.0,1.0,8061.0
min,53.0,-158.0,-41.0,0.0,1.0,0.0,0.0,1.0,0.0
25%,301962.0,77.0,28.0,250.0,1.0,2.0,5.0,1.0,125.0
50%,6004089.0,77.0,29.0,400.0,2.0,3.0,31.0,2.0,200.0
75%,18352292.0,77.0,29.0,700.0,2.0,4.0,131.0,3.0,350.0
max,18500652.0,175.0,56.0,800000.0,4.0,5.0,10934.0,8.0,400000.0

---

## Pushing Data in PostgreSQL Database

In [18]:
from sqlalchemy import create_engine
import psycopg2

# Creating engine to connect with my postgreSQL
engine = create_engine("postgresql+psycopg2://postgres:mrkhan@localhost:5432/Projects")

# Pushing data in database
df.to_sql('restaurant',engine,if_exists='replace',index=False)
print("Data is Successfully Pushed in the Database: Projects as Table: Restaurant")

Data is Successfully Pushed in the Database: Projects as Table: Restaurant